@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #F3E3D3;
    font-family: 'Asap', sans-serif;

}
main{
    height: 90vh;
    width: 60vw;
    border-radius: 25% 10%;
    box-shadow: 10px 5px 5px 5px gray;
    background-color: #FCF8EB;
}

header{
    
    height: 30%;
    display: grid;
    grid-template-areas: 
                        "h1 "
                        "div1"
                        "div2";
    grid-template-rows: 1fr 1fr 1fr;
}
h1{
   
    grid-area: h1;
    text-align: center;
    padding-top: 10px;
    font-size: 2.5em;
    color: #B38C61;
}
div.ajouter{
    grid-area: div1;
    display: flex;
    justify-content: center;
    align-items: center;
}
input#tache_ajoute{
    width: 40vw;
    height: 3vh;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1em;

}
div.message-erreur{
    grid-area: div2;

}
hr{
    background-color: black;
    margin: 0;
}
section{
    height: 55%;
    padding: 20px;
    
}
h2{
    text-align: center;
    font-size: 1.9em;
    color: #B38C61;
}
div.liste-taches{
    padding: 10px;
}
form{
    margin: 25px;
}

input[type=checkbox] {
    height: 17px;
    width: 17px;
    cursor: pointer; 
}
input[type=checkbox]:checked+label{

    color: #B8B8B8;
    text-decoration: line-through ;   
}
label{
    font-size: 1.3em;
    padding: 3px;
}
div.entre{
    margin: 5px;
}
button[type=submit]{
    padding: 5px 10px;
    font-size: 1em;
    font-family: 'Asap', sans-serif;
    background-color: #CC8C64;
    color: #fff;
    border: solid 1px #000;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}
button.supprimer{
    padding: 5px 10px;
    font-size: 1em;
    font-family: 'Asap', sans-serif;
    background-color: #CC0C1C;
    color: #fff;
    border: solid 1px rgb(248, 247, 247);
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

footer{
    height: 10%;
    text-align: center;
}